2>collabarative filter bases recomondation ;-
__________________________________________

In [ ]:
#PROJECT-collaborative filtering(-->recommand movies for user based on similar types of user rating.)

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('ML_Dataset/movies_collaborative.csv')
df

        movieId                                      title  userId  rating
0             1                           Toy Story (1995)       1     4.0
1             1                           Toy Story (1995)       5     4.0
2             1                           Toy Story (1995)       7     4.5
3             1                           Toy Story (1995)      15     2.5
4             1                           Toy Story (1995)      17     4.5
...         ...                                        ...     ...     ...
100831   193581  Black Butler: Book of the Atlantic (2017)     184     4.0
100832   193583               No Game No Life: Zero (2017)     184     3.5
100833   193585                               Flint (2017)     184     3.5
100834   193587        Bungo Stray Dogs: Dead Apple (2018)     184     3.5
100835   193609        Andrew Dice Clay: Dice Rules (1991)     331     4.0

[100836 rows x 4 columns]

In [3]:
#remove duplicate
df.drop_duplicates(inplace=True)

In [4]:
df

        movieId                                      title  userId  rating
0             1                           Toy Story (1995)       1     4.0
1             1                           Toy Story (1995)       5     4.0
2             1                           Toy Story (1995)       7     4.5
3             1                           Toy Story (1995)      15     2.5
4             1                           Toy Story (1995)      17     4.5
...         ...                                        ...     ...     ...
100831   193581  Black Butler: Book of the Atlantic (2017)     184     4.0
100832   193583               No Game No Life: Zero (2017)     184     3.5
100833   193585                               Flint (2017)     184     3.5
100834   193587        Bungo Stray Dogs: Dead Apple (2018)     184     3.5
100835   193609        Andrew Dice Clay: Dice Rules (1991)     331     4.0

[100836 rows x 4 columns]

In [8]:
#transform data frame;=>
#df.pivot_table(index,column,values)   : transform table into  new formate table vector form
#___________________________________


user_movie_df=df.pivot_table(index='userId',columns='movieId',values='rating')

In [11]:
user_movie_df

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,2.5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

==>above table is prevectorize form so,we does not need to convert it into vector form.

In [12]:

#use fillna to  fill NaN->0 for perfect vectorize the dataframe

user_movie_df.fillna(0,inplace=True)

In [13]:
user_movie_df  #now it is in perfect vector form

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
#now create model
from sklearn.neighbors import NearestNeighbors

In [17]:
model=NearestNeighbors(metric="cosine")
model.fit(user_movie_df.values)    #values;only show  df values in vector form

NearestNeighbors(metric='cosine')

In [51]:
#check recommanded movies list for user id 1
target_userId=1   #target id
 
target_userMId=user_movie_df.loc[target_userId]   #target waching movie id

#NOW pridict
scores,indexes=model.kneighbors([target_userMId],n_neighbors=2)

In [19]:

similar_userId=indexes[0][1]+1

In [20]:
similar_userMId=user_movie_df.loc[similar_userId]

In [21]:
target_userMId

movieId
1         4.0
2         0.0
3         4.0
4         0.0
5         0.0
         ...
193581    0.0
193583    0.0
193585    0.0
193587    0.0
193609    0.0
Name: 1, Length: 9724, dtype: float64

In [22]:
similar_userMId

movieId
1         2.0
2         0.0
3         0.0
4         0.0
5         0.0
         ...
193581    0.0
193583    0.0
193585    0.0
193587    0.0
193609    0.0
Name: 266, Length: 9724, dtype: float64

In [27]:
#NOTE-
A={1,2,3}
B={1,3,5}
B-A

{5}

In [28]:
#now-

In [29]:
#create movie id set
target_set=set()
for mid,rating in zip(target_userMId.index,target_userMId):
    if rating>0:
        target_set.add(mid)

In [30]:
#create similar movies set
similar_set=set()
for mid,rating in zip(similar_userMId.index,similar_userMId):
    if rating>0:
        similar_set.add(mid)

In [34]:
print(target_set)

{1024, 1, 1025, 3, 2048, 1029, 6, 1030, 1031, 1032, 2054, 2058, 2571, 527, 1552, 1042, 2580, 1049, 2078, 543, 3617, 1060, 1573, 2596, 552, 553, 2090, 1580, 2093, 2094, 47, 2096, 1073, 50, 1587, 2099, 3639, 1080, 2105, 2616, 2617, 1089, 1090, 2115, 1092, 2116, 70, 2628, 1097, 3147, 590, 592, 593, 1617, 2640, 596, 1620, 2641, 2644, 2648, 1625, 2137, 2139, 3671, 2141, 2654, 2143, 608, 2657, 3168, 101, 1127, 3176, 1644, 110, 1136, 2161, 3702, 3703, 2174, 2692, 648, 1676, 2700, 2193, 3729, 661, 151, 2716, 157, 3740, 3744, 673, 163, 3243, 1196, 1197, 1198, 3247, 3253, 1206, 1208, 1210, 1213, 1214, 1219, 1220, 1732, 1222, 1224, 2761, 1226, 3273, 2253, 3793, 216, 1240, 2268, 733, 223, 736, 2273, 3809, 231, 1256, 1258, 235, 2797, 1265, 1777, 2291, 1270, 1275, 1278, 1793, 1282, 260, 2826, 1291, 780, 1804, 1805, 1298, 2329, 2338, 804, 296, 2858, 2353, 2872, 3386, 316, 2366, 1348, 333, 2387, 2899, 2389, 2395, 349, 1377, 356, 2916, 2406, 362, 2414, 367, 3439, 3440, 3441, 1396, 3448, 3450, 2427, 1408, 1920, 2944, 2947, 2948, 2949, 1927, 2959, 2450, 919, 3479, 923, 2459, 3489, 1954, 1445, 2470, 423, 4006, 2985, 2987, 940, 2478, 943, 1967, 2991, 2993, 2997, 441, 954, 2492, 1473, 5060, 2502, 3527, 457, 2000, 2005, 3033, 3034, 1500, 2012, 480, 2528, 2018, 2529, 2028, 1517, 2542, 3052, 3053, 1009, 2033, 500, 3062, 3578, 2046, 1023}

In [33]:
print(similar_set)

{2560, 1, 514, 6, 2571, 1036, 16, 17, 1042, 2064, 2580, 21, 24, 541, 32, 1060, 1573, 3108, 39, 551, 2599, 3113, 555, 1580, 45, 2094, 2605, 2097, 50, 1079, 1080, 2105, 1597, 64, 1089, 1090, 2115, 69, 1093, 3142, 1097, 1610, 589, 1614, 592, 1617, 3156, 95, 608, 1127, 1641, 110, 1136, 2167, 2683, 2174, 1663, 132, 135, 2700, 2702, 145, 2194, 1171, 2195, 2706, 2710, 2712, 2716, 1196, 1197, 1198, 1199, 1200, 694, 1206, 1208, 1210, 1722, 1213, 1215, 3265, 1220, 1732, 198, 1222, 2249, 2253, 2770, 1240, 1242, 733, 223, 2278, 2791, 235, 1259, 1261, 1772, 2797, 2288, 1265, 1266, 2804, 1270, 1784, 1275, 2300, 2812, 2302, 260, 1285, 1288, 778, 1291, 785, 1297, 1298, 2321, 288, 296, 2863, 2353, 2355, 316, 1866, 2890, 1356, 2384, 2387, 1883, 1884, 2395, 1374, 1375, 1376, 353, 2396, 356, 2916, 2918, 367, 368, 1394, 1911, 1912, 377, 2428, 1405, 1923, 2947, 2959, 919, 2968, 924, 2471, 2985, 1968, 440, 441, 1466, 2490, 1476, 3016, 457, 3020, 1485, 2000, 474, 476, 1500, 3039, 480, 2539, 2028, 493, 1517, 3052, 3060, 1527}

In [36]:
#now recommanded movie rating
recommed_mvs=similar_set-target_set

print(recommed_mvs)

{2560, 514, 1036, 16, 17, 2064, 21, 24, 541, 32, 3108, 39, 551, 2599, 3113, 555, 45, 2605, 2097, 1079, 1597, 64, 69, 1093, 3142, 1610, 589, 1614, 3156, 95, 1641, 2167, 2683, 1663, 132, 135, 2702, 145, 2194, 1171, 2195, 2706, 2710, 2712, 1199, 1200, 694, 1722, 1215, 3265, 198, 2249, 2770, 1242, 2278, 2791, 1259, 1772, 1261, 2288, 1266, 2804, 1784, 2812, 2300, 2302, 1285, 1288, 778, 2321, 1297, 785, 288, 2863, 2355, 1866, 2890, 1356, 2384, 1883, 1884, 2396, 1374, 1375, 1376, 353, 2918, 368, 1394, 1911, 1912, 377, 2428, 1405, 1923, 2968, 924, 2471, 1968, 440, 1466, 2490, 1476, 3016, 3020, 1485, 474, 476, 3039, 2539, 493, 3060, 1527}

===>watch movies which has highest rating

In [39]:
#OR______________________________________
similar_dict={}
for mid,rating in zip(similar_userMId.index,similar_userMId):
    if mid in recommed_mvs and rating>4:
        similar_dict[mid]=rating

In [40]:
print(similar_dict)

{16: 5.0, 69: 5.0, 353: 5.0, 514: 5.0, 541: 5.0, 555: 5.0, 778: 5.0, 924: 5.0, 1079: 5.0, 1199: 5.0, 1200: 5.0, 1261: 5.0, 1266: 5.0, 1285: 5.0, 1288: 5.0, 1297: 5.0, 1394: 5.0, 1466: 5.0, 1610: 5.0, 1663: 5.0, 1884: 5.0, 2064: 5.0, 2194: 5.0, 2195: 5.0, 2278: 5.0, 2300: 5.0, 2599: 5.0, 2683: 5.0, 2702: 5.0, 2712: 5.0, 2890: 5.0, 2968: 5.0, 3060: 5.0, 3108: 5.0, 3265: 5.0}

===>these are movies id with high rating 4>

In [42]:
similar_dict.keys()

dict_keys([16, 69, 353, 514, 541, 555, 778, 924, 1079, 1199, 1200, 1261, 1266, 1285, 1288, 1297, 1394, 1466, 1610, 1663, 1884, 2064, 2194, 2195, 2278, 2300, 2599, 2683, 2702, 2712, 2890, 2968, 3060, 3108, 3265])

===>these are movies id

In [43]:
#OR----NOW check recommanded movies list  for user id
id_title=df[['movieId','title']]
id_title

        movieId                                      title
0             1                           Toy Story (1995)
1             1                           Toy Story (1995)
2             1                           Toy Story (1995)
3             1                           Toy Story (1995)
4             1                           Toy Story (1995)
...         ...                                        ...
100831   193581  Black Butler: Book of the Atlantic (2017)
100832   193583               No Game No Life: Zero (2017)
100833   193585                               Flint (2017)
100834   193587        Bungo Stray Dogs: Dead Apple (2018)
100835   193609        Andrew Dice Clay: Dice Rules (1991)

[100836 rows x 2 columns]

In [44]:
id_title.drop_duplicates(inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_2220\1074063998.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  id_title.drop_duplicates(inplace=True)

In [45]:
id_title

        movieId                                      title
0             1                           Toy Story (1995)
215           2                             Jumanji (1995)
325           3                    Grumpier Old Men (1995)
377           4                   Waiting to Exhale (1995)
384           5         Father of the Bride Part II (1995)
...         ...                                        ...
100831   193581  Black Butler: Book of the Atlantic (2017)
100832   193583               No Game No Life: Zero (2017)
100833   193585                               Flint (2017)
100834   193587        Bungo Stray Dogs: Dead Apple (2018)
100835   193609        Andrew Dice Clay: Dice Rules (1991)

[9724 rows x 2 columns]

In [46]:
id_title[id_title.movieId.isin(similar_dict.keys())]          #these are recommanded movies list

       movieId                                         title
873         16                                 Casino (1995)
2839        69                                 Friday (1995)
9907       353                              Crow, The (1994)
13894      514                               Ref, The (1994)
14607      541                           Blade Runner (1982)
15049      555                           True Romance (1993)
18726      778                          Trainspotting (1996)
21072      924                  2001: A Space Odyssey (1968)
22859     1079                   Fish Called Wanda, A (1988)
25196     1199                                 Brazil (1985)
25255     1200                                 Aliens (1986)
28187     1261            Evil Dead II (Dead by Dawn) (1987)
28455     1266                             Unforgiven (1992)
29156     1285                               Heathers (1989)
29238     1288                     This Is Spinal Tap (1984)
29540     1297                            Real Genius (1985)
31334     1394                        Raising Arizona (1987)
31889     1466                          Donnie Brasco (1997)
33479     1610              Hunt for Red October, The (1990)
34197     1663                                Stripes (1981)
36174     1884         Fear and Loathing in Las Vegas (1998)
39040     2064                             Roger & Me (1989)
40905     2194                      Untouchables, The (1987)
40970     2195                             Dirty Work (1998)
41418     2278                                  Ronin (1998)
41729     2300                         Producers, The (1968)
45517     2599                               Election (1999)
46335     2683  Austin Powers: The Spy Who Shagged Me (1999)
46842     2702                          Summer of Sam (1999)
47058     2712                         Eyes Wide Shut (1999)
49056     2890                            Three Kings (1999)
50080     2968                           Time Bandits (1981)
51136     3060                       Commitments, The (1991)
51650     3108                       Fisher King, The (1991)
53082     3265         Hard-Boiled (Lat sau san taam) (1992)

-->it exist

# OR--------------------------------------

## NOW combinig all the code;->

-->recommand movies for user based on similar types of user rating.

In [52]:
#=>#recommand movie for user id 122

import pandas as pd
from sklearn.neighbors import NearestNeighbors
model=NearestNeighbors(metric="cosine")
model.fit(user_movie_df.values)

df=pd.read_csv('ML_Dataset/movies_collaborative.csv')
id_title=df[['movieId','title']]
id_title=id_title.drop_duplicates()

user_movie_df=df.pivot_table(index='userId',columns='movieId',values='rating')
user_movie_df.fillna(0,inplace=True)

target_userId=122                                            #recommand movie for user id 122
target_userMId=user_movie_df.loc[target_userId]
scores,indexes=model.kneighbors([target_userMId],n_neighbors=2)
similar_userId=indexes[0][1]+1
similar_userMId=user_movie_df.loc[similar_userId]

target_set=set()
for mid,rating in zip(target_userMId.index,target_userMId):
    if rating>0:
        target_set.add(mid)

similar_set=set()
for mid,rating in zip(similar_userMId.index,similar_userMId):
    if rating>0:
        similar_set.add(mid)

recommed_mvs=similar_set-target_set

similar_dict={}
for mid,rating in zip(similar_userMId.index,similar_userMId):
    if mid in recommed_mvs and rating>4:
        similar_dict[mid]=rating
        
id_title[id_title.movieId.isin(similar_dict.keys())].head(3)

       movieId                                              title
14607      541                                Blade Runner (1982)
24996     1198  Raiders of the Lost Ark (Indiana Jones and the...
70241     6283  Cowboy Bebop: The Movie (Cowboy Bebop: Tengoku...